<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Notes</title>

	<link rel="stylesheet" href="../static/reset.css">
	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="../static/index.css">
</head>
<body>
	<header>
		<a href="/"><img alt="Cursive text that says: Summry" src="../static/summry-logo.png" class="logo" /></a>

		<p style="text-align:left">
			The idea that our minds could be driven by something that our minds themselves didn't know about was hard to grasp
		</p>
		<p style="text-align:left">It recognizes the need for observing and recording behavior, whether that's screaming, crying or playing air saxophone to an imaginary audience, but it also gives credit to our mental processes: what we think and feel and believe while we're tearing it up on our invisible instruments</p>
		<p style="text-align:left">Now that sounds almost obvious to us now, but part of the genius of Freud's theory was that in 1900, it wasn't obvious at all
		</p>
		<p style="text-align:left">The human mind is complicated</p>
		<p style="text-align:left">James published his seminal book, The Principles of Psychology, in 1890, defining psychology as the science of mental life, just as Freud was starting to flex his big brain</p>
	</header>
	<!-- <p class="blurb"><strong><em>Summry</em></strong> is a web app that helps you condense lengthy audio lectures and transcripts into manageable bullet-point summaries. With online education becoming increasingly popular, there are millions of hours of Zoom lectures available. However, sifting through all of this material to find what is relevant for exams can be both boring and tedious. <strong><em>Summry</em></strong> offers a solution by summarizing hour-long videos into 1-page study guides, allowing students to review lecture material more conveniently, comprehensively, and efficiently.</p> -->
</body>
</html>
